---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardXL from '../components/CardXL.astro';
import Header from "../components/Header.astro";
---

<Layout title="Martin Lopez">
    <main class="flex mt-2.5 mx-full bg-blue-900 grid-cols-3">
        a
    </main>
</Layout>

<style>

</style>