---
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
import AboutMe from '../components/AboutMe.astro';
import MoreAboutMe from '../components/MoreAboutMe.astro';
---

<Layout title="Martin Lopez">
    <main class="flex mt-2.5">
        <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-2.5 max-w-7xl mx-auto w-full p-8">
            <AboutMe />
            <Socials />
            <MoreAboutMe />
        </section>
    </main>
    

</Layout>

<style>

</style>