---
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
import AboutMe from '../components/AboutMe.astro';
import MoreAboutMe from '../components/MoreAboutMe.astro';
---

<Layout title="Martin Lopez">
    <main class="flex mt-2.5">
            <section class="grid grid-cols-3 gap-2.5 w-full">
                <AboutMe />
                <Socials />
                <MoreAboutMe />

            </section>
    </main>

</Layout>

<style>

</style>