---
import ContactMe from "./ContactMe.astro";
---

<div
  id="home"
  class="p-9 justify-between rounded-3xl bg-zinc-900 flex flex-col gap-20 col-span-3 row-span-3 lg:col-span-2 lg:row-span-2"
>
  <div class="flex flex-col gap-4">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ8dA17rQJBwab0gIajx0b49afG0n5MXeUvhiWgwU4OCTuTjthLS-Cd0Sn4xq4E7f9Ias&usqp=CAU"
      alt=""
      class="size-24 rounded-full grayscale"
    />
    <div class="mx-auto text-pretty">
      <p class="text-4xl md:text-6xl font-medium tracking-tighter">
        Martin Lopez
      </p>
      <p class="text-4xl md:text-6xl font-medium tracking-tighter text-balance">
        es un fullstack web dev
        <span class="text-gray-400">actualmente programa en acme.</span>
      </p>
    </div>
  </div>
</div>
<ContactMe size="small" />
