---
import Contact from "../icons/Contact.astro";
---

<div class="p-8 justify-between rounded-3xl bg-zinc-900 flex flex-col gap-20 col-span-2 row-span-2">
    <div class="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ8dA17rQJBwab0gIajx0b49afG0n5MXeUvhiWgwU4OCTuTjthLS-Cd0Sn4xq4E7f9Ias&usqp=CAU"
        alt="" class="size-24 rounded-full grayscale">
        <div class="mt-6 container mx-auto text-wrap">
            <p class="text-6xl font-medium tracking-tighter">Martin Lopez</p>
            <p class="text-6xl font-medium tracking-tighter text-balance">es un fullstack web dev
            <span class="text-gray-400">actualmente programa en acme.</span></p>
        </div>
    </div>
</div>
<div class="py-10 px-6 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-1 row-span-2 text-6xl font-medium tracking-tighter items-center">
    <Contact />
    <p class="text-center">Quieres contactarme?</p>
    <a href="mailto:martin.lopez.dev@gmail.com" class="mt-8 mx-2 px-8 w-auto h-14 bg-orange-600 hover:bg-orange-500 rounded-full text-2xl flex justify-center items-center">martin.lopez.dev@gmail.com</a>
</div>