---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "mayo 2021",
    title: "Software Engineer",
    description:
      "Diseñar y desarrollar software de calidad contemplando escalabilidad, disponibilidad y rendimiento.",
    descriptionplus:
      "Logrando mejorar rendimiento de aplicaciones al reducir el tiempo de respuesta de la interfaz de usuario, mediante optimización de código limpio.",
    link: "#",
  },
  {
    date: "octubre 2022",
    title: "FullStack Developer",
    description:
      "Diseñar sistemas sostenibles en el tiempo con buenas prácticas y principios.",
    descriptionplus:
      "Logrando mejorar calidad del código al reducir la tasa de errores en producción en un 10%, por medio de la formación en buenas prácticas",
    link: "#",
  },
];
---

<div
  id="experience"
  class="p-8 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-3 row-span-2"
>
  <ol class="items-center md:flex">
    {
      EXPERIENCE.map((experience) => (
        <li class="relative mb-6 sm:mb-0">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</div>
