---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "mayo 2021",
    title: "Software Engineer",
    description:
      "Diseñar y desarrollar software de calidad, según estándares W3C.",
    descriptionplus:
      "Diseñar interfaz de usuario responsive y arquitectura de software basada en la nube.",
    link: "#",
  },
  {
    date: "octubre 2022",
    title: "FullStack Developer",
    description:
      "Diseñar sistemas sostenibles en el tiempo con buenas prácticas y principios.",
    descriptionplus:
      "Implementar funcionalidades y características en el back-end utilizando java.",
    link: "#",
  },
];
---

<div
  id="experiencia"
  class="p-8 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-3 row-span-2"
>
  <ol class="items-center sm:flex">
    {
      EXPERIENCE.map((experience) => (
        <li class="relative mb-6 sm:mb-0">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</div>
