---

---

<header class="max-w-7xl mx-auto w-full px-8">
  <div
    class="flex justify-between items-center mt-6 px-8 p-2 h-[56px] bg-zinc-900 rounded-3xl text-lg font-semibold"
  >
    <div class="">martin lopez.</div>

    <nav class="flex flex-row gap-x-16">
      <a href="#home">home.</a>
      <a
        href="#experience"
        class="opacity-60 hover:opacity-95 transition duration-300"
        >experiencia.</a
      >
      <a
        href="#projects"
        class="opacity-60 hover:opacity-95 transition duration-300"
        >proyectos.</a
      >
      <a
        href="#contact"
        class="opacity-60 hover:opacity-95 transition duration-300"
      >
        contacto.</a
      >
    </nav>
  </div>
</header>
