---

---
<header class="flex justify-between items-center mt-6 px-10 h-16 bg-zinc-900 rounded-[30px] text-lg font-semibold tracking-tighter">
    <div class="">martin lopez.</div>
    
    <nav class="flex flex-row gap-x-16">
        <a href="#home">home.</a>
        <a class="opacity-60 hover:opacity-95 transition duration-300" href="#experience">experience.</a>
        <a class="opacity-60 hover:opacity-95 transition duration-300" href="#contact">contact.</a>
    </nav>
</header>
