---

---

<header
  class="flex justify-between items-center py-3 px-8 mt-6 w-[1120px] md:mx-auto bg-zinc-900 rounded-3xl"
>
  <div class="text-lg font-semibold">martin lopez.</div>

  <nav class="hidden min-[990px]:flex text-lg font-semibold flex-row gap-x-16">
    <a href="#home">home.</a>
    <a
      href="#experience"
      class="md:text-lg font-semibold opacity-60 hover:opacity-95 transition duration-300"
      >experiencia.</a
    >
    <a
      href="#projects"
      class="md:text-lg font-semibold opacity-60 hover:opacity-95 transition duration-300"
      >proyectos.</a
    >
    <a
      href="#contact"
      class="text-lg font-semibold opacity-60 hover:opacity-95 transition duration-300"
    >
      contacto.</a
    >
  </nav>
</header>
