---
import Global from "../icons/Global.astro";
---
<div class="py-10 px-6 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-1 row-span-2 text-6xl font-medium tracking-tighter">
    <Global />
    <p class="">localizado en La Rioja, Argentina <span class="text-gray-400">GTM-3</span></p>
</div>
<div class="p-8 justify-between rounded-3xl bg-zinc-900 flex flex-col gap-20 col-span-2 row-span-2 text-base/7">
        <div class="mt-6 container mx-auto text-5xl font-medium tracking-tighter text-wrap">
            <p class="text-balance">+3 años desarrollando proyectos universitarios e individuales memorables para el usuario.</p>
            <p class="text-gray-400">Creo en que un sistema de calidad empieza con trabajo en equipo, comunicación efectiva y gran adaptabilidad.</p>
        </div>
</div>