---
import Global from "../icons/Global.astro";
---
<div class="py-10 px-6 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-1 row-span-2 text-6xl font-medium tracking-tighter">
    <Global />
    <p class="">localizado en La Rioja, Argentina <span class="text-gray-400">GTM-3</span></p>
</div>
<div class="p-8 justify-between rounded-3xl bg-zinc-900 flex flex-col gap-20 col-span-2 row-span-2">
    <div class="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ8dA17rQJBwab0gIajx0b49afG0n5MXeUvhiWgwU4OCTuTjthLS-Cd0Sn4xq4E7f9Ias&usqp=CAU"
        alt="" class="size-24 rounded-full grayscale">
        <div class="mt-6 container mx-auto text-wrap">
            <p class="text-6xl font-medium tracking-tighter">martin lopez</p>
            <p class="text-6xl font-medium tracking-tighter text-balance">es un fullstack web dev
            <span class="text-gray-400">actualmente programa en acme.</span></p>
        </div>
    </div>
</div>
