---
import Global from "../icons/Global.astro";
---

<div
  class="py-9 px-9 justify-between rounded-3xl bg-zinc-900 flex flex-col col-span-3 row-span-3 lg:col-span-1 lg:row-span-2 text-5xl md:text-6xl font-medium tracking-tighter"
>
  <Global />
  <p class="">Localizado en La Rioja, Argentina</p>
  <p class="text-gray-400">GMT-3</p>
</div>
<div
  class="p-9 justify-between rounded-3xl bg-zinc-900 flex flex-col gap-20 col-span-3 row-span-3 lg:col-span-2 lg:row-span-2 text-base/7"
>
  <div
    class="mx-auto text-3xl sm:text-5xl font-medium tracking-tighter text-balance"
  >
    <p>+2 años desarrollando proyectos memorables para el usuario.</p>
    <p class="text-gray-400">
      Creo en que un sistema de calidad empieza con trabajo en equipo,
      comunicación efectiva y gran adaptabilidad.
    </p>
  </div>
</div>
