---
import ProjectItem from "./ProjectItem.astro";

const PROYECTO = [
  {
    title: "Spotify Clone",
    subtitle: "inspirado en popular servicio",
    portada:
      "https://res.cloudinary.com/dvf2uvb8a/image/upload/f_auto,q_auto/v1/bento-portfolio/pjs/spotify/gnpr7bcunrrxfjjtzsxm",
    link: "https://github.com/7incho/spotify-astro",
  },
  {
    title: "CRM Tool",
    subtitle: "seguimiento de relación con clientes",
    portada:
      "https://res.cloudinary.com/dvf2uvb8a/image/upload/f_auto,q_auto/v1/bento-portfolio/pjs/crm/gkomjtwmsq2iueniv6dd",
    link: "https://github.com/7incho/CRM",
  },
  {
    title: "DApp",
    subtitle: "CRUD-App descentralizada con etherium",
    portada: "https://github.com/7incho/dapp-sem/raw/main/screenshot.png",
    link: "https://github.com/7incho/dapp-sem",
  },
];
---

{
  PROYECTO.map((project) => (
    <div id="projects" class="bg-zinc-900 col-span-3 rounded-3xl">
      <ProjectItem {...project} />
    </div>
  ))
}
