---
const PROYECTO = [
  { title: "Spotify Clone", subtitle: "", portada: "" },

  { title: "CRM", subtitle: "", portada: "" },

  { title: "Barber Calendar", subtitle: "", portada: "" },
];
---

<div class="bg-zinc-900 col-span-3 rounded-3xl">
  <div class="p-10">
    <h2 class="text-5xl font-semibold tracking-tight">Spotify Clone</h2>
    <h3 class="text-4xl font-semibold tracking-tight"></h3>
    <img class="h-auto max-w-full" src="" alt="" />
  </div>
</div>
